<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="ClassSaver"
            id="ClassSaver.commands.category">
      </category>
      <command
            name="Save Class"
            categoryId="ClassSaver.commands.category"
            id="ClassSaver.commands.saveClass">
      </command>
      <command
            categoryId="ClassSaver.commands.category"
            id="ClassSaver.commands.autoSaveClass"
            name="Auto Save Class">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="ClassSaver.commands.saveClass"
            class="de.niklasmerz.classsaver.handlers.SaveHandler">
      </handler>
      <handler
            class="de.niklasmerz.classsaver.handlers.AutoSaveHandler"
            commandId="ClassSaver.commands.autoSaveClass">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="ClassSaver.commands.saveClass"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+8"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="ClassSaver.commands.autoSaveClass"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="com.ibm.designer.domino.designerAcceleratorConfigurationAll"
            sequence="M1+9">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="ClassSaver"
               mnemonic="ClassSaverMenu"
               id="ClassSaver.menus.sampleMenu">
            <command
                  commandId="ClassSaver.commands.saveClass"
                  icon="icons/8.gif"
                  id="ClassSaver.menus.saveClass"
                  mnemonic="ClassSaverMenu">
            </command>
            <command
                  commandId="ClassSaver.commands.autoSaveClass"
                  id="ClassSaver.menus.autoSaveClass"
                  mnemonic="ClassSaverMenu"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="ClassSaver.toolbars.classSaverToolbar">
            <command
                  commandId="ClassSaver.commands.saveClass"
                  icon="icons/8.gif"
                  tooltip="Save Class"
                  id="ClassSaver.toolbars.saveClass">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
 	<page id="PreferencePage"
 		name="Class Saver"
    		class="de.niklasmerz.classsaver.ClassSaverPreferencePage">
   	</page>
	</extension>

</plugin>
